
<%= render 'form' %>

  

<% @posts.sort {|a,b| b.id <=> a.id}.each do |post| %>
 <div class="box"> </div>
 <div class="post" >
    
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.content %></p>
    <p>
  	<b>Tags:</b> <%= join_tags(post) %></p>
  	<p>
  	<b>Cat:</b> <%= post.category %></p>
  	<p>
  	<b>Object:</b> <%= post.inspect %></p>
    <ul>
    	<li><%= link_to 'Edit', edit_post_path(post) %></li>
    	<li><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
  </div>
 
  
<% end %>
</div>

<br />


